ENV_USER="phonecontrol"  # CUCM End User username
ENV_USER_PWD="phonecontrol"  # CUCM End User password
ENV_PAUSE=1.5  # Pause in seconds between sending keypress
ENV_CHUNK_SIZE=20  # Chunk size which split phones list (use for more control)
ENV_DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/postgres" #Postgres URL
